// App works

.app-works{
  text-align: center;
  margin-top: -200px;
  &__title{
    @include poppins600;
    font-size: 44px;
    padding-top: 70px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      max-width: 884px;
      width: 100%;
      background-color: #e4e4e4;
    }
  }
}

@media (max-width: 768px){
  .app-works{
    &__title{
      margin-bottom: 65px;
      padding-top: 0;
      padding-bottom: 50px;
      &::before{
        top: auto;
        bottom: 0;
      }
    }
  }
}