// Header

.header{
  position: relative;
}
.header__inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 28px 0;
}

@media (max-width: 768px){
  .header__inner{
    padding: 5px 0;
  }
}