// App

.app {
  margin-top: 100px;
  background-color: $basic-white;
  color: $basic-black;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 100vh;
}